body {
    font-family: 'arial';
    color: #333;
    font-size: 16px;
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    line-height: 20px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
  }

 .subnav{
    width: 100%;
    background-color: #3c77c9;
    position: fixed;
    z-index:2;
    top:0;
 }

 .th-icon{
    display: flex;
    width: 30px;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #ffd345;
    font-size: 30px;
    margin-top:40px;
 }

 .inclined-plane-both{
    background: linear-gradient(5deg, #92447f 0%, #92447f 25%, transparent 26%),
    linear-gradient(-5deg, #92447f 0%, #92447f 24%, transparent 25%);
    height:100px;
    width:100%;
 }
 .white {
    color: #fff;
}
 .slogan {
    color: #ffd44c;
    font-size: 24px;
    font-weight: 500;
}

  .btn-primary {
    color: white;
    border-color: #3c77c9 !important;
    background-color: #3c77c9 !important;
    font-size:16px;
    border-radius: 0;
  }
  .btn-primary:hover {
    color: white;
    border-color: #191970 !important;
    background-color: #191970 !important;
    border-radius: 5px;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #f8af2b;
    border-color: #f8af2b;
    border-radius: 0;
  }

  .w-col{
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-descrip {
    color: #fff;
    line-height: 20px;
}

.footer-title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: system-ui;
    color: #fff;
	line-height:1;
    font-size: 20px;
    font-weight: 600;
}


.footer-li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #c2c2bc;
}

.footer-a{
    color: #c2c2bc;
    text-decoration: none;
}

.footer-a:hover{
    color: #fff;
    text-decoration: none;
}


.home-img-div {
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px 10px 20px;
    border-width: 1px;
    border-color: #e0e0e0;
}


@media all and (min-width: 480px) {
    .deskContent {display:block;}
    .phoneContent {display:none;}
  }

  @media all and (max-width: 479px) {
    .deskContent {display:none;}
    .phoneContent {display:block;}
  }

  @media all and (min-width: 480px) {
	  
	h1{
		margin-bottom: 0 !important;
		color:black !important;
		font-size: 35px !important;
		line-height: 35px !important;
		font-weight: 500 !important;
	} 
	  
	.marginheadingtop{
		margin:150px 5px 5px 5px;
	}    

    .container-img {
        position: relative;
      }

      .text-animation-heading-on-slider2-in-pc {
        position: absolute;
        top: 50px;
        left: 100px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      }

      .text-block-on-slider2-in-pc {
        position: absolute;
        bottom: 50px;
        left: 200px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      }
      .text-block-on-slider3-in-pc {
        position: absolute;
        bottom: 100px;
        right: 200px;
        background-color: white;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      }

    .admin-hh{
        margin-top:140px;
    }

    .logoalign{
        margin-left:80px;
    }

    .prodhh{
        height: 350px;
    }

    .nav-link {
        transition: all .7s ease;
        color: black;
        font-weight: 500;
    }

    .bb{
        padding-left: 5px;
        padding-right: 5px;
		font-weight:500 !important;
    }

    .navbar-nav .nav-item .nav-link {
        color: black !important;
    }

    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color: #990073;
    }

    .dropdown-item{
        color:black !important;
    }

    .dropdown-item:hover{
        color:#990073;
    }

    .tmynav{
        background-color:white;
        box-shadow: 1px 1px 20px 5px rgb(0 0 0 / 25%);
        transition: 0.3s;
        position: fixed;
        top: 37px;
        z-index: 998;
        width: 100%;
        padding:0;
    }

    .carasual-hh{
        margin-top:120px;
    }


    /* .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 } */

 /* .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
} */

 .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .dropdown-submenu>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

 .dropdown-menu{
    border-radius: .1rem !important;
    padding:1px;
	margin: -0.125rem 0 0 !important;
	animation:b 500ms ease-in-out;
	transform-origin: top center;
	}
	
@keyframes b{
      0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
  }

	.dropdown-item{
    line-height: 35px;
    color:black;
    padding-top:1px;
    padding-bottom:1px;
}



p {
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
	font-weight: bold;
}

.ifram-yt{
    height:409px;
    width:100%;
}

.dd{
    width:300px;
    height:400px;
}

.kd{
    width:auto;
    height:auto;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



  @media all and (max-width: 479px) {
	  
	.marginheadingtop{
		margin:50px 5px 5px 5px;
	}  
	  
    .dd{
        width:auto;
        height:auto;
    }

    .kd{
        width:auto;
        height:auto;
    }

    .container-img {
        position: relative;
      }

      .animate-charcter
      {
         text-transform: uppercase;
        background-image: linear-gradient(
          -225deg,
          #231557 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
        );
        background-size: 200% auto;
        color: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
      }

      @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }

      .text-animation-heading-on-slider2-in-mb {
        position: absolute;
        bottom: 150px;
        left: 50px;
        color: white;
        padding-left: auto;
        padding-right: auto;
      }

      .text-block-on-slider2-in-mb {
        position: absolute;
        bottom: 10px;
        right: 20px;
        color: white;
        padding-left: auto;
        padding-right: auto;
      }
      .text-block-on-slider3-in-mb {
        position: absolute;
        bottom: 155px;
        right: 200px;
        background-color: white;
        color: white;
        padding-left: auto;
        padding-right: auto;
      }

    .admin-hh{
        margin-top:70px;
    }

    .prodhh{
        height: auto;
        padding: 10px;
    }

    .navbar-light .navbar-toggler{
    color: #3c77c9;
    border:2px solid #3c77c9;
    border-radius: 0;
    }

    .bb{
        color:black;
        margin-left:15px;
    }

    .nav-link {
        border-right-style: none;
        color: black !important;
        font-weight: 600;
    }

    .dropdown-menu{
		color:black;
        background-color: #3c77c9;
    }
    .dropdown-item{
        line-height: 20px;
        margin-left:1px;
        color:black;
    }

    .tmynav{
        background-color:white;
        box-shadow: 1px 1px 20px 5px rgb(0 0 0 / 25%);
        transition: 0.3s;
        position: fixed;
        z-index: 998;
        width: 100%;
        line-height: 40px;
        padding: 1px;
        top:0;
    }

    .carasual-hh{
        margin-top:60px;
    }

    .knav{
        background-color: #ffffffa7 !important;
    }

    h1{
        color:black !important;
		margin-bottom:0;
        font-size:20px;
        line-height:20px;
        font-weight: 500;
		text-transform: uppercase;
    }

    p {
        margin-bottom: 15px;
        line-height: 25px;
        font-size: 15px;
        font-weight: 500;
        text-align: justify;
    }

    .ifram-yt{
        height:auto;
        width:100%;
    }
  }
}

.icon-floatp {
  margin-right: 1px;
  height: 50px;
  width: auto;
  font-size: 20px;
  position: fixed;
  right: 0px;
  top: 70%;
  z-index: 999;
  padding: 11px;
}

.icon-floatq {
  margin-right: 1px;
  height: 50px;
  width: auto;
  font-size: 20px;
  position: fixed;
  right: 0px;
  top: 50%;
  z-index: 999;
  padding: 11px;
}