  @media all and (max-width: 479px) {
	  
	  .cardkkhh{
	min-height: 330px !important;
}
  
	  	h1{
		margin-bottom: 0 !important;
		color:black !important;
		font-size: 20px !important;
		line-height: 15px !important;
		font-weight: 500 !important;
	}

  .hhed{
    font-family:'Bagel Fat One  !important';
  }

.cardicontxt{
	font-size:12px;
	padding:3px;
	color:#3c77c9 !important;
	position: absolute !important;
	display: flex !important;
	background-color: white;
	top:7% !important;
	left:5% !important;
	margin-top: -15px !important; 
}


.cardicon1{
	border: 2px solid transparent;font-size:15px;padding:3px;color:#f5640a;position: absolute;display: flex;background-color: white;right:5%;padding: 5px;margin-top: -20px;
}

.cardicon2{
	border: 2px solid transparent;font-size:15px;padding:3px;color:#f5640a;position: absolute;display: flex;background-color: white;right:27%;padding: 5px;margin-top: -20px;
}

.myicons{
	position: absolute;display: flex;background-color:white;right:5%;
}

.myicons1{
	font-size:18px;padding:5px;color:#f5640a;background-color: white;padding: 5px;margin-top: -15px; 
}

.myicons2{
	font-size:18px;padding:5px;color:#f5640a;background-color: white;padding: 5px;margin-top: -15px;margin-right:5px;
}

.uk-card-body{
	padding:5px !important;
}

.uk-card-title{
	color:black !important;
	margin-bottom:2px;
  font-family:'Comfortaa', sans-serif !important;
    font-size: 12px !important;
    line-height: 1 !important;
	font-weight:600;
}

.card-text{
	margin-bottom:1px;margin-top: 1px !important;color:blue;font-size:9px !important;color:#3c77c9 !important;
}

.cardlink:hover{
	color:white !important;
	background-color:#f5640a !important;
	padding:2px;
	transition:all 0.3s ease-in;
}

.price{
	color:black !important;font-size:10px;font-weight:bold;
}	

.sectionheading{
	text-align:center;
	text-transform:uppercase;
  font-family:'Comfortaa', sans-serif !important;
}

 .line {
    width: 25%;
    height: 3px;
    margin: 7px auto 25px;
    background-color: #3c77c9;
}	


.icon-floatp{
    margin-right: -11px;
    height: 80px;
    width: auto;
    position: fixed;
    right: 0px;
    top: 80%;
    z-index: 999;
    padding: 5px;
}

.planeimg{
    height: 150px;
    width: auto;
    position: relative;
    right: -5%;
    padding: 1px;
    margin-bottom: 1%;
    margin-top: -15%;
}

.arrowimg1{
    height: 100px;
    width: auto;
    position: relative;
    right: -70%;
    padding: 1px;
    margin-top: -30%;
    margin-bottom: -30%;
}

.arrowimg2{
    height: 100px;
    width: auto;
    position: relative;
    right: 1%;
    padding: 1px;
    margin-top: 0%;
    margin-bottom: -15%;
}



.spnhh{
		margin-top:2px ;
		margin-bottom:5px;
		font-weight:700 !important;
	}
	
.spnheading{
		font-size:12px !important;
		color:grey;
}
	 

  .footer{
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(../images/backgrounds/mbfooter.png);
  background-size: auto;
  background-position: center;
  background-attachment: initial !important;
  }
  
    .uk-card{
      border-radius: 10px !important;
  }

  .uk-card-media-top>img {
	  border-top-left-radius:7px !important;
	  border-top-right-radius:7px !important;
  }
  .uk-card-body{
	border-bottom-left-radius:7px !important;
	border-bottom-right-radius:7px !important;
  }

  
.uk-overlay-primary {
	background: linear-gradient(0deg,#3c77c9 50%,transparent) !important;
} 

.uk-overlay-primary2 {
	background: linear-gradient(0deg,#fff 50%,transparent) !important;
}  
 
.uk-overlay {
    padding: 5px 20px !important;
}

.uk-panel img{
	transition:0.5s;
}

.card:hover .uk-panel img{
	transform:translateY(-36px);
	filter:blur(2px);
}

.card + .uk-overlay{
	min-height:auto;
}

.card:hover .uk-panel{
	min-height:300px !important;
	transition:0.5s;
}

.card:hover .card-body{
	padding:5px;
	transition:0.5s ease-in-out;
}


.card:hover .uk-overlay {
	min-height: 85% !important;
	transform:translateY(20%);
	transition: min-height 2s !important;
	}

.ph{
    display: none;
}

.card:hover .ph{
    display: block;
	transition:0.5s;
}  

.kflip{
-webkit-transform: rotateY(-80deg);
}

.uk-slideshow-items {
	min-height:300px !important;
}


  
 /* mosanry layout css */


 .grid {
  max-width: 100%;
  padding:10px;
  }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
  
}

/* ---- grid-item ---- */

.grid-item {
  width: 20%;
  height: 100px;
  float: left;
  background: #fff;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 7px;
  padding:0;
  margin-top:5px;
  margin-bottom:5px;
  box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.grid-item--width2 { width: 25%; }
.grid-item--width3 { width: 50%; }
.grid-item--width4 { width: 60%; }
.grid-item--width5 { width: 75%; }
.grid-item--width6 { width: 100%; }

.grid-item--width7 { width: 45%; }


.grid-item--height2 { height: 150px; }
.grid-item--height3 { height: 200px; }
.grid-item--height4 { height: 250px; }
.grid-item--height5 { height: 300px; }
 

.grid-item-gap {
  width: 20%;
  height: 50px;
  float: left;
  margin-top:5px;
  margin-bottom:5px;
}
 
.grid-item-gap2 {
  width: 25%;
  height: 50px;
  float: left;
  margin-top:5px;
  margin-bottom:5px;
}

.grid-item-gap3 {
  width: 10%;
  height: 150px;
  float: left;
  margin-top:5px;
  margin-bottom:5px;
} 
 
.cardnew{
position:relative;
width:auto;
height:100%;
background:#3c77c9;
overflow:hidden;
border-radius:7px;
box-shadow:linear-gradient(#007bb2,black);
}

.cardnew .poster{
position:relative;
overflow:hidden;
}

.cardnew .poster::before{
content:'';
position:absolute;
bottom:-100px;
width:100%;
height:100%;
background:linear-gradient(0deg,#3c77c9 50%,transparent);
transition:0.5s;
z-index:1;
}

.cardnew:hover .poster::before{
bottom:0px;
}

.cardnew .poster img{
width:100%;
transition:0.5s;
}

.cardnew:hover .poster img{
transform:translateY(-10px);
filter:blur(1px);
}

.cardnew .details{
position:absolute;
bottom:-25px;
left:0;
padding:5px;
width:100%;
z-index:2;
transition:0.5s;
}

.cardnew:hover .details{
bottom:25px;
}

.cardnew .details .logo{
max-width:100px;
}

.cardnew .details b{
font-size:0.9em !important;
color:#fff;
margin:2px !important;
}

.cardnew .details .rating{
position:relative;
padding:1px 2px;
}

.cardnew .details .rating .fa-star{
color:yellow;
font-size:0.8em;
}
.cardnew .details .rating .fa-star-o{
color:yellow;
font-size:0.6em;
}
.cardnew .details .rating span{
color:#fff;
font-size:0.5em;
}

.cardnew .details .tags{
position:relative;
margin-top:1px;
}

.cardnew .details .tags span{
padding:2px 5px;
color:#fff;
font-size:0.5em;
background:blue;
border-radius:5px;
}

.cardnew .details .tags span:nth-child(2){
background:orange;
}

.cardnew .details .info{
color:#fff;
margin-top:15px;
font-size:0.9em;
font-weight:100 !important;
}

.cardnew .details .cast h6{
color:#fff;
font-weight:bolder;
}

.cardnew .details .cast ul{
position:relative;
display:flex;
padding:0;
margin-top:15px !important;
}

.cardnew .details .cast ul li{
list-style:none;
height:30px;
width:30px;
overflow:hidden;
border-radius:50%;
border:2px solid #fff;
}

.cardnew .details .cast ul li img{
max-width:100%;
}

.cardicon3{
	font-size:10px;padding:3px;color:#f5640a;position: absolute;display: flex;background-color: white;right:5%;padding: 5px;margin-top: 5px;
}

.cardicon4{
	font-size:10px;padding:3px;color:#f5640a;position: absolute;display: flex;background-color: white;right:27%;padding: 5px;margin-top: 5px;
}

.col-12 img{
	border-top-left-radius:7px !important;
	border-top-right-radius:7px !important;
}
  
.uk-grid>* {
  padding-left: 7px;
}

.uk-slider-container {
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
}
	  
  }